.cmake/api/v1/query/client-vscode/query.json
.cmake/api/v1/reply/cache-v2-9269ff5664f4a43d01da.json
.cmake/api/v1/reply/cmakeFiles-v1-2f2f98f0ec9ce570777e.json
.cmake/api/v1/reply/codemodel-v2-dad6f4f3f15274b4d5aa.json
.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
.cmake/api/v1/reply/index-2024-01-23T12-12-58-0506.json
.cmake/api/v1/reply/target-APICalculator-Debug-37c8dffaa3ae7b142b1f.json
.cmake/api/v1/reply/target-red_api-Debug-cb92e9fb7956e26ea056.json
.cmake/api/v1/reply/toolchains-v1-36b858cbcf49944c099e.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/libred_api.a
build/.cmake/api/v1/query/client-integration-vscode/cache-v2
build/.cmake/api/v1/query/client-integration-vscode/cmakeFiles-v1
build/.cmake/api/v1/query/client-integration-vscode/codemodel-v2
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-85e2c4779dbe2ceb6483.json
build/.cmake/api/v1/reply/cmakeFiles-v1-752ef7f82f30405d86eb.json
build/.cmake/api/v1/reply/codemodel-v2-f1d64e26c48b1bff8806.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2024-01-22T09-35-44-0220.json
build/.cmake/api/v1/reply/target-APICalculator-Debug-688f90acfd8b1f44e256.json
build/.cmake/api/v1/reply/target-red_api-Debug-3e0d6bbfe92f845169ae.json
build/.cmake/api/v1/reply/toolchains-v1-e51cbfaa56c0264d150d.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.1/CMakeCCompiler.cmake
build/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
build/CMakeFiles/3.28.1/CMakeSystem.cmake
build/CMakeFiles/3.28.1/CompilerIdC/a.exe
build/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.1/CompilerIdCXX/a.exe
build/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/APICalculator.dir/main.c.obj
build/CMakeFiles/APICalculator.dir/red_api.c.obj
build/CMakeFiles/MyExecutable.dir/main.c.obj
build/CMakeFiles/MyExecutable.dir/red_api.c.obj
build/CMakeFiles/red_api.dir/red_api.c.obj
build/Debug/main.o
build/Debug/outDebug.exe
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeConfigureLog.yaml
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.28.1/CMakeCCompiler.cmake
CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.28.1/CMakeRCCompiler.cmake
CMakeFiles/3.28.1/CMakeSystem.cmake
CMakeFiles/3.28.1/CompilerIdC/a.exe
CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/APICalculator.dir/build.make
CMakeFiles/APICalculator.dir/cmake_clean.cmake
CMakeFiles/APICalculator.dir/compiler_depend.internal
CMakeFiles/APICalculator.dir/compiler_depend.make
CMakeFiles/APICalculator.dir/compiler_depend.ts
CMakeFiles/APICalculator.dir/depend.make
CMakeFiles/APICalculator.dir/DependInfo.cmake
CMakeFiles/APICalculator.dir/flags.make
CMakeFiles/APICalculator.dir/includes_C.rsp
CMakeFiles/APICalculator.dir/link.txt
CMakeFiles/APICalculator.dir/linkLibs.rsp
CMakeFiles/APICalculator.dir/main.c.obj
CMakeFiles/APICalculator.dir/main.c.obj.d
CMakeFiles/APICalculator.dir/objects.a
CMakeFiles/APICalculator.dir/objects1.rsp
CMakeFiles/APICalculator.dir/progress.make
CMakeFiles/APICalculator.dir/red_api.c.obj
CMakeFiles/APICalculator.dir/red_api.c.obj.d
CMakeFiles/red_api.dir/build.make
CMakeFiles/red_api.dir/cmake_clean_target.cmake
CMakeFiles/red_api.dir/cmake_clean.cmake
CMakeFiles/red_api.dir/compiler_depend.internal
CMakeFiles/red_api.dir/compiler_depend.make
CMakeFiles/red_api.dir/compiler_depend.ts
CMakeFiles/red_api.dir/depend.make
CMakeFiles/red_api.dir/DependInfo.cmake
CMakeFiles/red_api.dir/flags.make
CMakeFiles/red_api.dir/includes_C.rsp
CMakeFiles/red_api.dir/link.txt
CMakeFiles/red_api.dir/progress.make
CMakeFiles/red_api.dir/red_api.c.obj
CMakeFiles/red_api.dir/red_api.c.obj.d
output/APICalculator.exe
cmake_install.cmake
main.exe
Makefile
CMakeCache.txt
compile_commands.json
libAPICalculator.dll.a
libred_api.a
.cmake/api/v1/reply/cache-v2-ff21cac5633d5543007b.json
.cmake/api/v1/reply/cmakeFiles-v1-21151daeae0f9b60085b.json
.cmake/api/v1/reply/codemodel-v2-5891ff5dfb7ae13dc7f8.json
.cmake/api/v1/reply/directory-.-Debug-4844db3a54696c28eb47.json
.cmake/api/v1/reply/index-2024-01-25T13-12-38-0660.json
.cmake/api/v1/reply/target-APICalculator-Debug-810428f784fe31c92030.json
.cmake/api/v1/reply/target-red_api-Debug-f4a0f9491c24dc788945.json
CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.28.1/CompilerIdCXX/a.exe
CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/APICalculator.dir/src/main.c.obj
CMakeFiles/APICalculator.dir/src/main.c.obj.d
CMakeFiles/APICalculator.dir/tools/utils.c.obj
CMakeFiles/APICalculator.dir/tools/utils.c.obj.d
CMakeFiles/MyAPI.dir/build.make
CMakeFiles/MyAPI.dir/cmake_clean.cmake
CMakeFiles/MyAPI.dir/compiler_depend.internal
CMakeFiles/MyAPI.dir/compiler_depend.make
CMakeFiles/MyAPI.dir/compiler_depend.ts
CMakeFiles/MyAPI.dir/depend.make
CMakeFiles/MyAPI.dir/DependInfo.cmake
CMakeFiles/MyAPI.dir/flags.make
CMakeFiles/MyAPI.dir/includes_C.rsp
CMakeFiles/MyAPI.dir/link.txt
CMakeFiles/MyAPI.dir/linkLibs.rsp
CMakeFiles/MyAPI.dir/objects.a
CMakeFiles/MyAPI.dir/objects1.rsp
CMakeFiles/MyAPI.dir/progress.make
CMakeFiles/MyAPI.dir/libs/red_api.c.obj
CMakeFiles/MyAPI.dir/libs/red_api.c.obj.d
CMakeFiles/MyAPI.dir/libs/RZ_104_11.c.obj
CMakeFiles/MyAPI.dir/libs/RZ_104_11.c.obj.d
CMakeFiles/MyAPI.dir/tools/utils.c.obj
CMakeFiles/MyAPI.dir/tools/utils.c.obj.d
CMakeFiles/Test_API.dir/build.make
CMakeFiles/Test_API.dir/cmake_clean.cmake
CMakeFiles/Test_API.dir/compiler_depend.make
CMakeFiles/Test_API.dir/compiler_depend.ts
CMakeFiles/Test_API.dir/depend.make
CMakeFiles/Test_API.dir/DependInfo.cmake
CMakeFiles/Test_API.dir/flags.make
CMakeFiles/Test_API.dir/includes_C.rsp
CMakeFiles/Test_API.dir/link.txt
CMakeFiles/Test_API.dir/linkLibs.rsp
CMakeFiles/Test_API.dir/objects1.rsp
CMakeFiles/Test_API.dir/progress.make
CMakeFiles/red_api.dir/linkLibs.rsp
CMakeFiles/red_api.dir/objects.a
CMakeFiles/red_api.dir/objects1.rsp
CMakeFiles/red_api.dir/libs/red_api.c.obj
CMakeFiles/red_api.dir/libs/red_api.c.obj.d
CMakeFiles/red_api.dir/libs/RZ_104_11.c.obj
CMakeFiles/red_api.dir/libs/RZ_104_11.c.obj.d
CMakeFiles/red_api.dir/tools/utils.c.obj
CMakeFiles/red_api.dir/tools/utils.c.obj.d
APICalculator.exe
libred_api.dll.a
